@media screen and (max-width:576px) {
    body{
        width: 100%;
    }
    .nav,
    .fitness,
    .dietitian,
    .diet-chart{
        flex-direction: column;
    }
    .fitness{
        margin: 0 auto;
        width: 100%;
        margin-left: 20px;
    }
    .fitness-title{
        width: 80%;
        font-size: 3rem;
        text-align: left;
    }
    .btn{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .btn-1, .btn-2{
        font-size: 1rem;
        padding: 10px 20px;
        margin-right: 10px; 
    }
    .fitness-img{
        width: 90%;
        margin-right: 100px;
    }
    .btn-3{
        margin-top: -480px;
        margin-left: 210px;
        padding: 8px 23px;
    }
    .btn-4{
        margin-top: -150px;
        margin-left: 0px;
        padding: 20px 25px 20px 60px;
    }
    .habits{
        margin: 70px 20px 60px;
    }
    .habits-title,
    .habits-description{
        width: 100%;
    }
    .habits-img img , p ,h3{ 
        width: 100%;
    }
    .habits-img img {
        width: 50%;
        margin-left: 90px;
    }
     .habits-img, 
     .run,
     .calculation-bmi,
     .trainer-img,
     .footer-section{
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
     }
     .run{
        width: 100%;
        margin: 10px 30px 10px;
        padding: 20px;
    }
    .run img{
        margin: 30px auto;
    }
    .bmi-section{
        width: 100%;
    }
    .bmi-section>h1{
        margin: 30px 20px 20px 20px;
    }
    .bmi-section>p{
        width: 80%;
        margin-left: 20px ;
        text-align: left;
    }
    .bmi-table{
        width: 100%;
        margin-left: 30px;
    }
    .bmi-calculator{
        width: 100%;
        margin-left: 30px;
        margin-top: 40px;
    }
    input{
        width: 30%;
    }
    select{
        width: 39.5%;
    }
    #select-activity{
        width: 80%;
    }
    .trainer-section{
        margin: 70px 10px 60px;
    }
    .trainer-img{
        gap: 20px;
    } 
    .dietitian-section{
        margin: 70px 10px 60px;
    }
    .dietitian,
    .diet-chart{
        background: linear-gradient(360.00deg, rgb(0, 0, 0),rgba(119, 119, 119, 0.3) 100%);
    }
    .dietitian-pic img{
        width: 350px;
        margin: 25px; 
    }
    .dietitian-description, .diet-chart-description{
        margin: 50px 20px ;
    }
    .diet-chart-pic img{
        width: 350px;
        margin: 25px; 
    }
    .diet-chart-description{
        margin-bottom:0px;
    }
    .foot{
        margin: 70px 50px 0px;
    }
    .hr-line{
        margin-top: 50px;
        width: 100%;
    }
}