.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
    font-family: miama;
    src: url('../miama/Miama.ttf');
}
*{
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}
.primary-color{
    color: rgb(230, 83, 60);
}
.primary-bg-color{
    background-color: rgb(230, 83, 60);
}
body{
    background:rgb(0, 0, 0);;
    width: 100%;
    color: rgb(255, 255, 255);
}
/* fitness header */
.header{
    background: linear-gradient(360.00deg, rgb(0, 0, 0),rgba(119, 119, 119, 0.3) 100%);
}
.nav{
    padding-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    justify-content: space-between;
    gap: 40px;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 15px 8px 2px;
    border-radius:60px ; 
}
.nav-items li{
    list-style: none;
}
.theme-name{
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
} 
.span{
    border-radius: 30px;
    padding: 7px 20px;
}
.fitness{
    margin: 70px 150px 60px;
}
.fitness-title{
    font-size: 4rem;
    font-weight: 800;
    line-height: 85px;
    width: 60%;
}
#shape{
    font-family: miama;
    font-size: 8.5rem;
    font-weight: 300;
}
.fitness-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 70%;
    margin-top: 35px;
    margin-bottom: 30px;
}
.btn-1, .btn-2{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    padding: 15px 40px;
    margin-right: 15px; 
}
.btn-2{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0,0,0,0);
}
.fitness-img{
    width: 100%;
    margin-right: 100px;
}
.ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    position: absolute;
    margin-left: -50px;
    margin-top: 5px;
}
.btn-3,.btn-4{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    padding: 10px 28px;
}
.btn-3{
    position: absolute;
    margin-top: -410px;
    margin-left: 180px;
}
.btn-4{
    position: absolute;
    margin-top: -150px;
    margin-left: -100px; 
    padding: 20px 25px 20px 80px;
}
.num-500{
    color: white;
    font-size: 2.8rem;
    font-weight: 800;
}
.num-350{
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
}
/* change your habits */
.habits{
    margin: 70px 150px 60px;
}
.habits h1 , p ,h3{
    text-align: center;
}
.habits-title{
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
}
.habits-description{
    width: 50%;
    font-size: 0.8rem;
    margin: 10px auto 60px;
    text-align: center;
}
.habits-img{
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
}
.habits-img img{
    border-radius: 50%;
    border: 3px solid rgb(34, 34, 34);;
}
.habits-img h3{
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.habits-img p{
    margin-right: 30px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 90px;
}
.run{
    margin: 70px 150px 60px;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 60px;
}
.run-title{
    text-align: left;
}
.run img{
    max-width: 350px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
}
.run-description{
    font-size: 0.8rem;
    margin-top: 20px;
    width: 100%;
    text-align: left;
}
.run button{
    padding: 15px 60px;
}
/* BMI Calculator */
.bmi-section>p{
    width: 50%;
    margin: 20px auto 60px;
    text-align: left;
    font-size: 0.9rem;
}
.bmi-section>h1{
    text-align: left;
    margin-left: 335px;
}
.calculation-bmi{
    background: rgb(34, 34, 34);
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 40px;
}
td,th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 30px;
    text-align: left;
}
table{
    border-collapse: collapse;
}
.bmi-table{
    margin-left: 150px;
}
.bmi-table td{
    color: rgba(255, 255, 255, 0.5);
}
.bmi-table h1{
    margin-bottom: 40px;
}
.bmi-calculator{
    margin-right: 150px;
}
input{
    width: 40%;
    margin-bottom: 8px;
}
select{
    width: 47.5%;
    color: gray;
}
#select-activity{
    width: 96%;
}
input, select{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    
}
.calculation-bmi button{
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
}
/* Trainer Section */
.trainer-section{
    margin-top: 50px;
}
.trainer-img img{
    width: 300px;
    height: 100%;
    border-radius: 10px;
}
.trainer-img{
    background-color: rgba(80, 82, 82, 0.2);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    padding: 25px;
    border-radius: 10px;

}
.foot{
    background-color: black;
    width: 100%;
}
.footer{
    margin-top: 100px;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;

}
.footer-text{
    margin-left: 40px;
}
.Get-Started{
    align-items: center;
}
.Get-Started ul{
    list-style: none;
}
.Get-Started li{
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    color: gray;
    line-height: 25px;
    text-align: left;
    margin-left: -45px;
}
.hr-line{
    width: 80%;
    border: 1px solid rgb(92, 91, 91);
}
.reserved{
    color: gray;
    font-size: 1.3rem;
    font-weight: 500;
    margin:50px auto; 

}
